{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Account" %}{% endblock %}

{% block content %}
 <div class="main-box">
    <div class="container">
        <div class="inside">
            <div class="wrapper">
                <h2>{% trans "E-mail Addresses" %}</h2>

                <p>{% trans 'El siguiente correo esta asociado a tu cuenta: ' %} {{user.email}}</p>
            </div>
        </div>
    </div>
 </div>

{% endblock %}


{% block extra_body %}

{% endblock %}
