 <!-- TODO  Mostrar mensaje-->
{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
 <div class="main-box">
    <div class="container">
      <div class="inside">
        <div class="wrapper">
            <h2>{% trans "Cambiar contraseña" %}</h2>

            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" name="action" class="button">{% trans "Cambiar" %}</button>
            </form>
        </div>
      </div>
    </div>
 </div>
{% endblock %}
