{% extends 'base.html' %}
{% load static %}
{% block content %}

  <!-- TODO corregir texto y formato/estilo -->
    <div class="main-box">
      <div class="container">
        <div class="inside">
            <div class="separator"></div>
            <!-- #gallery -->
            {% include "noticias/shorts/areas.html" %}
            <!-- /#gallery -->
            <div class="separator"></div>
          <div class="wrapper">
            <h2> COOKIES </h2>
              <div style="margin-bottom: 10px">
                Las cookies son ficheros enviados a un navegador por medio de un servidor Web para registrar la navegación del Usuario en el Portal Web, cuando el Usuario permita su recepción, almacenado datos que podrán ser actualizados y recuperados.
                Las “cookies” utilizadas por el Portal Web de la Delegacion de Alumnos de Informatica, o el tercero que actúe en su nombre, se asocian únicamente con un Usuario anónimo y su ordenador, y no proporcionan por sí los datos personales del Usuario.
              </div>
              <h3>Los tipos de cookies se clasifican: </h3>

              <h5>Según su finalidad: </h5>
              <div style="margin-left: 10px">
                  <div style="margin: 0 0 10px 10px"><h6>Cookies técnicas:</h6> son aquellas imprescindibles y estrictamente necesarias para el correcto funcionamiento de un portal web y la utilización de las diferentes opciones y servicios que ofrece. Por ejemplo, las que sirven para el mantenimiento de la sesión, la gestión del tiempo de respuesta, rendimiento o validación de opciones, utilizar elementos de seguridad, compartir contenido con redes sociales, etc.
                  </div>

                  <div style="margin: 0 0 10px 10px"> <h6>Cookies de personalización: </h6> Éstas cookies permiten al usuario especificar o personalizar algunas características de las opciones generales del sitio web, por ejemplo, definir el idioma, configuración regional o tipo de navegador.
                  </div>
                  <div style="margin: 0 0 10px 10px"><h6>Cookies analíticas:</h6> Las cookies analíticas son las utilizadas por el portal web, para elaborar perfiles de navegación y poder conocer las preferencias de los usuarios del mismo para mejorar la oferta de productos y servicios. Por ejemplo, mediante una cookie analítica se controlarían las áreas geográficas de mayor interés de un usuario, cuál es el producto de más aceptación, etc.
                  </div>
                  <div style="margin: 0 0 10px 10px"><h6>Cookies publicitarias / de publicidad: </h6> Las cookies publicitarias permiten la gestión de los espacios publicitarios en base a criterios concretos. Por ejemplo la frecuencia de acceso, el contenido identidad, etc. Las cookies de publicidad permiten a través de la gestión de la publicidad almacenar información del comportamiento a través de la observación de hábitos estudiando los accesos y formando un perfil de preferencias del usuario, para ofrecer publicidad relacionada con los intereses de su perfil.
                  </div>
              </div>
              <h5>Según el plazo </h5>
              <div style="margin-left: 10px">
                <div style="margin: 0 0 10px 10px"><h6>Cookies de sesión: </h6> Las cookies de sesión son aquellas que duran en el tiempo que el usuario está navegando por la página web y se borran al finalizar.
                </div>
                <div style="margin: 0 0 10px 10px"><h6>Cookies persistentes: </h6> Éstas cookies quedan almacenadas al terminal del usuario, por un tiempo más largo, facilitando así el control de las preferencias escogidas sin tener que repetir ciertos parámetros cada vez que se visite el sitio web.
                Asimismo, dai.upv.es informa al usuario de que tiene la posibilidad de configurar su navegador de modo que se le informe de la recepción de cookies, pudiendo, si así lo desea, eliminarlas o impedir que sean instaladas en su disco duro a través del menú de configuración del mismo modificando los parámetros que generalmente se encuentran en “Opciones”, sección de “Privacidad” de cualquier navegador ( p.e.: Internet Explorer, Google Chrome, Firefos, Safari, Opera, …). Estos navegadores están sometidos a nuevas actualizaciones o modificaciones, por lo que se recomienda consultar la ayuda sobre cookies del navegador o las ayudas en línea de los desarrolladores.
                </br>Según lo dispuesto en el artículo 22.2 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico (LSSI-CE), superyuppies.com informa de las cookies utilizadas en nuestro Portal Web son cookies de personalización.
                </br>Asimismo, dai.upv.es manifiesta de que la web puede contener enlaces de redes sociales (como Facebook o Twiter). informando de que no controla las cookies utilizadas por estas redes externas. Para más información sobre las cookies de redes sociales u otros sitios web ajenas, aconsejamos revisar sus propias políticas de cookies.
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}