{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- /#gallery -->
  <div class="main-box">
    <div class="container">
      <div class="inside">
          <div class="separator"></div>
            <!-- #gallery -->
            {% include "noticias/shorts/areas.html" %}
            <!-- /#gallery -->
            <div class="separator"></div>
        <div class="wrapper">
        	<h2>Te preguntaras algunas cosas.. es normal</h2>
            <h3> Aqui te daremos respuestas a las preguntas mas comunes</h3>
            <h4>FAQ</h4>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}