{% extends 'base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'web/css/cPasswordStyle.css' %}" type="text/css" media="all">

<div class="main-box">
    <div class="container">
      <div class="inside">
        <div class="wrapper">
            <form class="form-container" method="post">
                {% csrf_token %}
                {% if form.errors %}
                    <p class="errornote error">
                    Please correct the error or errors below.
                    </p>
                {% endif %}
                <div class="form-title"><h2>Login</h2></div>
                <div class="form-title">Nombre de usuario <div class="form-field username">{{user.username}}</div></div>


                <div class="form-title error">{{ form.old_password.errors }} </div>
                <div class="form-title" class="required">Contraseña antigua: </div>
                {{ form.old_password }}
                <div class="form-title error">{{ form.new_password1.errors }} </div>
                <div class="form-title">Contraseña nueva:  </div>
                {{ form.new_password1 }}
                <div class="form-title error">{{ form.new_password2.errors }} </div>
                <div class="form-title">Repita la contraseña:  </div>
                {{ form.new_password2 }}
                <div class="submit-container">
                    <input class="submit-button" type="submit" value="Enviar" />
                </div>
                <div class="form-title">Ultima conexion: {{user.last_login}}</div>
            </form>
        </div>
      </div>
    </div>
</div>
{% endblock content %}