{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="main-box">
    <div class="container">
      <div class="inside">
        <div class="wrapper">
            <div>
                <h2>Perfil de usuario</h2>
            </div>
            Hola de nuevo {{ user.username }}<br>

            <div>
                <img src="{{ MEDIA_URL }}{{ user.userprofile.photo }}" alt="Imagen de {{ user.username }}"/>
            </div>
        </div>
      </div>
    </div>
</div>
{% endblock content %}
