{% extends 'base.html' %}
{% load static %}
{% block title %}Registro de usuario{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'web/css/loginStyle.css' %}" type="text/css" media="all">
<div class="main-box">
    <div class="container">
        <div class="inside">
            <div class="wrapper">
                <form method="post" action="" enctype="multipart/form-data" class="form-container">
                    {% csrf_token %}
                    <div class="form-title page-header"><h2 >Registro</h2></div>
                    <div class="form-title">Nombre de usuario</div>
                    {{ user_form.username }}
                    <div class="form-title">Nombre</div>
                    {{ user_form.first_name }}
                    <div class="form-title">Apellidos</div>
                    {{ user_form.last_name }}
                    <div class="form-title">Email</div>
                    {{ user_form.email }}
                    <div class="form-title">Contraseña </div>
                    {{ user_form.password }}
                    <div class="form-title">Contraseña (confirma)</div>
                    {{ user_form.password2 }}
                    <div class="form-title">Telefono de contactp</div>
                    {{ userProfile_form.telefono }}
                    <div class="form-title">Foto</div>
                    {{ userProfile_form.photo }}
                    <div class="submit-container">
                        <button type="submit" class="submit-button">Registrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}