h2 {
        text-align: center;
        margin-top: 1em;
}
.form-container {
   float: right;
   margin: 0 20% 0 0;
   border: 0px solid #ffffff;
   background: #dbdbdb;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dbdbdb));
   background: -webkit-linear-gradient(top, #ffffff, #dbdbdb);
   background: -moz-linear-gradient(top, #ffffff, #dbdbdb);
   background: -ms-linear-gradient(top, #ffffff, #dbdbdb);
   background: -o-linear-gradient(top, #ffffff, #dbdbdb);
   background-image: -ms-linear-gradient(top, #ffffff 0%, #dbdbdb 100%);
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(000,000,000,0.9) 0 0px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(000,000,000,0.9) 0 0px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(000,000,000,0.9) 0 0px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
   font-family: 'Helvetica Neue',Helvetica,sans-serif;
   text-decoration: none;
   vertical-align: middle;
   min-width:300px;
   padding:20px;
   width:50%;
   }
input {
   border: 0px solid #000000;
   background: #b5b5b5;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   color: #453625;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding:8px;
   margin-bottom:20px;
   width:280px;
   }
input:focus {
   background: #b5e6d3;
   color: #0f0d0b;
   }
.form-container h2 {
   text-shadow: #e6ccac 0 1px 0;
   font-size:30px;
   margin: 0 0 10px 0;
   font-weight:bold;
   text-align:center;
    }
.form-title {
   margin-bottom:10px;
   color: #000000;
   text-shadow: #e6ccac 0 1px 0;
   }
.submit-container {
   margin:8px 0;
   text-align:right;
   }
.submit-button {
   border: 0px solid #ffffff;
   background: #d3eaf0;
   background: -webkit-gradient(linear, left top, left bottom, from(#c9ccc6), to(#d3eaf0));
   background: -webkit-linear-gradient(top, #c9ccc6, #d3eaf0);
   background: -moz-linear-gradient(top, #c9ccc6, #d3eaf0);
   background: -ms-linear-gradient(top, #c9ccc6, #d3eaf0);
   background: -o-linear-gradient(top, #c9ccc6, #d3eaf0);
   background-image: -ms-linear-gradient(top, #c9ccc6 0%, #d3eaf0 100%);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #ffffff 0 1px 0;
   color: #000000;
   font-family: helvetica, serif;
   padding: 8.5px 18px;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   }
.submit-button:hover {
   border: 0px solid #000000;
   text-shadow: #ffffff 0 1px 0;
   background: #37686b;
   background: -webkit-gradient(linear, left top, left bottom, from(#8ef5d8), to(#37686b));
   background: -webkit-linear-gradient(top, #8ef5d8, #37686b);
   background: -moz-linear-gradient(top, #8ef5d8, #37686b);
   background: -ms-linear-gradient(top, #8ef5d8, #37686b);
   background: -o-linear-gradient(top, #8ef5d8, #37686b);
   background-image: -ms-linear-gradient(top, #8ef5d8 0%, #37686b 100%);
   color: #fff;
   }
.submit-button:active {
   text-shadow: #31540c 0 1px 0;
   border: 0px solid #447314;
   background: #8dc059;
   background: -webkit-gradient(linear, left top, left bottom, from(#6aa436), to(#37686b));
   background: -webkit-linear-gradient(top, #6aa436, #8dc059);
   background: -moz-linear-gradient(top, #6aa436, #8dc059);
   background: -ms-linear-gradient(top, #6aa436, #8dc059);
   background: -o-linear-gradient(top, #6aa436, #8dc059);
   background-image: -ms-linear-gradient(top, #6aa436 0%, #8dc059 100%);
   color: #fff;
}

.username{

    width: 150px;
    height: 10px;
    text-align: center;
    line-height: 10px;
    font-size: 25px;
    margin: 10px 0 10px 0;
}

.error{
    color: red;
}

.errornote{

}