.button{
    position: relative;
    float: left;
    margin: 0 0 0 1%;

}
.wrapper{
    margin: 0 0 0 20%
}

.reg{
   margin: -12% 0 0 5%;
}

h2{
   font-size: 200%;
}
.form-container {
   border: 1px solid #ffffff;
   background: #f7d9b7;
   background: -webkit-gradient(linear, left top, left bottom, from(#faf5f0), to(#f7d9b7));
   background: -webkit-linear-gradient(top, #faf5f0, #f7d9b7);
   background: -moz-linear-gradient(top, #faf5f0, #f7d9b7);
   background: -ms-linear-gradient(top, #faf5f0, #f7d9b7);
   background: -o-linear-gradient(top, #faf5f0, #f7d9b7);
   background-image: -ms-linear-gradient(top, #faf5f0 0%, #f7d9b7 100%);
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   font-family: 'Helvetica Neue',Helvetica,sans-serif;
   text-decoration: none;
   vertical-align: middle;
   min-width:300px;
   padding:20px;
   width:50%;

   }
input {
   border: 1px solid #c9b7a2;
   background: #f5f5f5;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   color: #241f1a;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
   padding:8px;
   margin-bottom:20px;
   width:280px;
   }
input:focus {
   background: #fff;
   color: #000000;
   }
.form-container h2 {
   text-shadow: #c2c0be 0 1px 0;
   font-size:18px;
   margin: 0 0 10px 0;
   font-weight:bold;
   text-align:center;
    }
.form-title {
   margin-bottom:10px;
   color: #8a7d6e;
   text-shadow: #c2c0be 0 1px 0;
   }
.submit-container {
   margin:8px 0;
   text-align:right;
   }
.submit-button {
   border: 1px solid #bdba7f;
   background: #ebe5d6;
   background: -webkit-gradient(linear, left top, left bottom, from(#b8b593), to(#ebe5d6));
   background: -webkit-linear-gradient(top, #b8b593, #ebe5d6);
   background: -moz-linear-gradient(top, #b8b593, #ebe5d6);
   background: -ms-linear-gradient(top, #b8b593, #ebe5d6);
   background: -o-linear-gradient(top, #b8b593, #ebe5d6);
   background-image: -ms-linear-gradient(top, #b8b593 0%, #ebe5d6 100%);
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #addc7e 0 1px 0;
   color: #31540c;
   font-family: helvetica, serif;
   padding: 8.5px 18px;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   }
.submit-button:hover {
   border: 1px solid #ffffff;
   text-shadow: #31540c 0 1px 0;
   background: #c1c2aa;
   background: -webkit-gradient(linear, left top, left bottom, from(#d4d4d4), to(#c1c2aa));
   background: -webkit-linear-gradient(top, #d4d4d4, #c1c2aa);
   background: -moz-linear-gradient(top, #d4d4d4, #c1c2aa);
   background: -ms-linear-gradient(top, #d4d4d4, #c1c2aa);
   background: -o-linear-gradient(top, #d4d4d4, #c1c2aa);
   background-image: -ms-linear-gradient(top, #d4d4d4 0%, #c1c2aa 100%);
   color: #fff;
   }
.submit-button:active {
   text-shadow: #31540c 0 1px 0;
   border: 1px solid #447314;
   background: #ffffff;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#c1c2aa));
   background: -webkit-linear-gradient(top, #ffffff, #ffffff);
   background: -moz-linear-gradient(top, #ffffff, #ffffff);
   background: -ms-linear-gradient(top, #ffffff, #ffffff);
   background: -o-linear-gradient(top, #ffffff, #ffffff);
   background-image: -ms-linear-gradient(top, #ffffff 0%, #ffffff 100%);
   color: #000000;
   }